<!DOCTYPE html>
<html lang="en">
    <%- include ("../fragmente/head") -%>
<body>
    <%- include ("../fragmente/header") -%>
    <div class="spatiu-gol">
    </div>
    <div class="container">
        <div class="row align-items-start justify-content-center">
            <h1 class="display-6">Lista completa consultatii:</h1>
            <% for(let consult of locals.consultatii) { %>
                <div class="col-lg-4 col-md-6">
                    <div class="analiza card p-3 bg-white" style="margin: 10px 5px 10px 5px">
                        <div class="about-product text-center mt-2">
                            <div>
                                <h4 class="display-6" style="color:rgb(31, 179, 110)"><%- consult.nume %></h4>
                                <h6 class="mt-0 text-black-50"></h6>
                            </div>
                        </div>
                        <div class="stats mt-2">
                            <div class="d-flex justify-content-between p-price"><span>Pret:</span><span style='color:rgb(228, 35, 35)'><%- consult.pret %> RON</span></div>
                        </div>
                        <!-- <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Total</span><span>$7,197.00</span></div> -->
                        <center style="margin-top: 10px;">
                            <form action="/consultatii/adauga/<%-consult.id_consultatie%>" method="POST">
                                <input type="submit" class="custom-button -green"  value="Adauga">
                            </form>
                            <!-- <a href="" class="custom-button anotherblue"> Mai multe informatii </a> -->
                        </center>
                    </div>
                </div>
            <% } %>

            <h1 class="display-6" style="margin-top: 40px;">Lista completa ecografii:</h1>
                <% for(let ecog of locals.ecografii) { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="analiza card p-3 bg-white" style="margin: 10px 5px 10px 5px">
                            <div class="about-product text-center mt-2">
                                <div>
                                    <h4 class="display-6" style="color:rgb(31, 179, 110)"><%- ecog.nume %></h4>
                                    <h6 class="mt-0 text-black-50"></h6>
                                </div>
                            </div>
                            <div class="stats mt-2">
                                <div class="d-flex justify-content-between p-price"><span>Pret:</span><span style='color:rgb(228, 35, 35)'><%- ecog.pret %> RON</span></div>
                            </div>
                            <!-- <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Total</span><span>$7,197.00</span></div> -->
                            <center style="margin-top: 10px;">
                                <form action="/ecografii/adauga/<%-ecog.id_ecografie%>" method="POST">
                                    <input type="submit" class="custom-button -green"  value="Adauga">
                                </form>
                                <!-- <a href="" class="custom-button anotherblue"> Mai multe informatii </a> -->
                            </center>
                        </div>
                    </div>
                <% } %>
        </div>
    </div>
    <%- include ("../fragmente/footer") -%>
</body>
</html>